<ion-view view-title="Beers">
  <ion-content>
  	<span class="bar bar-header">
  		<button class="button" ng-click=searchPage();>Search</button>
  	</span>
    <ion-list>
    <!-- Link to specifc detail in page: this case is beer api -->
      <ion-item ng-click="getInfo(item);" ng-repeat="item in beerArray">
        <span><img src={{item.labels.icon}}></img></span><span>{{item.nameDisplay}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- href="#/app/BeerInfo/{{stuff.BeerData}}" -->
<!-- <span><img src={{stuff.labels.icon}}></span> -->